@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 30px;
  font-weight: bold;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Kablammo";
}

.didILetter {
  font-size: 50px;
  font-weight: normal;
  color: hsl(206 78.7% 72.4%);
  text-decoration: line-through dotted;
  text-transform: full-width;
  font-family: "Monoton";
}

.didDTwoLetter {
  font-size: 32px;
  font-weight: normal;
  color: rgb(249 206 52);
  text-decoration: red wavy underline;
  text-transform: lowercase;
  font-family: "Combo";
}

/* THE word */

.theTLetter {
  font-size: 50px;
  font-weight: 400;
  color: rgb(114 43 255);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Monoton";
}

.theHLetter {
  font-size: 90px;
  font-weight: 700;
  color: hsl(316 100% 50%);
  text-decoration: none;
  text-transform: none;
  font-family: "Combo";
}

.theELetter {
  font-size: 70px;
  font-weight: 400;
  color: rgb(110 194 47);
  text-decoration: yellow line-through wavy;
  text-transform: uppercase;
  font-family: "kablammo";
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 27px;
  font-weight: normal;
  color: yellow;
  text-decoration: red line-through wavy;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
}

.frontendRLetter {
  font-size: 35px;
  font-weight: bold;
  color: green;
  text-decoration: yellow overline double;
  text-transform: uppercase;
  font-family: "Monoton";
}

.frontendOLetter {
  font-size: 35px;
  font-weight: bolder;
  color: rgb(209 8 15);
  text-decoration: line-through 1px;
  text-transform: uppercase;
  font-family: "Combo";
}

.frontendNLetter {
  font-size: 70px;
  font-weight: 700;
  color: rgb(224 135 186);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ceviche";
}

.letter-one {
  font-size: 40px;
  font-weight: bold;
  color: rgb(212 83 161);
  text-decoration: red underline wavy;
  text-transform: lowercase;
  font-family: "Combo";
}

.letter-two {
  font-size: 60px;
  font-weight: 400;
  color: gray;
  text-decoration: black line-through dashed;
  text-transform: uppercase;
  font-family: "kablammo";
}

.letter-three {
  font-size: 53px;
  font-weight: 700;
  color: yellow;
  text-decoration: orange underline dotted;
  text-transform: none;
  font-family: "Monoton";
}

.letter-four {
  font-size: 49px;
  font-weight: normal;
  color: firebrick;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "kablammo";
}

.letter-five {
  font-size: 46px;
  font-weight: bold;
  color: lightblue;
  text-decoration: darkblue overline dashed;
  text-transform: uppercase;
  font-family: "combo";
}
.letter-six {
  font-size: 57px;
  font-weight: 700;
  color: purple;
  text-decoration: pink line-through wavy;
  text-transform: uppercase;
  font-family: "Monoton";
}
.letter-seven {
  font-size: 70px;
  font-weight: normal;
  color: yellow;
  text-decoration: none;
  text-transform: none;
  font-family: "Raleway Dots";
}

.letter-eight {
  font-size: 34px;
  font-weight: bold;
  color: orange;
  text-decoration: green underline wavy;
  text-transform: uppercase;
  font-family: "Monoton";
}

.letter-nine {
  font-size: 53px;
  font-weight: 400;
  color: blue;
  text-decoration: plum overline dotted;
  text-transform: lowercase;
  font-family: "kablammo";
}

.letter-ten {
  font-size: 47px;
  font-weight: 700;
  color: lightsalmon;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "kablamo";
}

.letter-eleven {
  font-size: 53px;
  font-weight: 400;
  color: navajowhite;
  text-decoration: yellowgreen underline dotted double;
  text-transform: uppercase;
  font-family: "kablammo";
}
.hyphen,
.question-mark,
.exclamation-mark {
  font-size: 40px;
  font-weight: bold;
  color: coral;
  text-decoration: red underline dashed;
  text-transform: none;
  font-family: "kablammo";
}
